cs50==9.2.5
Flask==3.0.0
Flask-Session==0.5.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
requests==2.31.0
Werkzeug==3.0.1
setuptools>=65.5.1 # not directly required, pinned to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned to avoid a vulnerability
yahoofinancials==1.17
numpy>=1.22.2 # not directly required, pinned to avoid a vulnerability
