{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table table-hover caption-top" style="width:100%" id="history">
            <caption>Transaction History</caption>
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares Traded</th>
                    <th scope="col">Traded Price</th>
                    <th scope="col">Transaction Timestamp (UTC)</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Button to trigger modal -->
    <div class="mb-4">
        <button type="button" class="btn btn-sm btn-outline-danger float-left mt-3" data-toggle="modal" data-target="#historyModal">Clear History</button>
    </div>

    <!-- History modal -->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="historyModalLongtitle">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Clearing your history will permanently delete all of your transaction records and cannot be recovered.</p>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox">
                        <label class="form-check-label" for="checkbox">Yes I'm sure</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="clear-history" type="button" class="btn btn-danger">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <!--- Import custom script for sorting table -->
    <script src="/static/history.js"></script>
{% endblock %}
