{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit" data-loading-text="@Localization.Uploading">Log In</button>
    </form>

    <script>
        // Change button to spinner when form submits
        $("form").submit(function() {
            // disable submit button
            $("button[type='submit']").prop("disabled", true);

            // add spinner to submit button
            $("button[type='submit']").html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
            );
        });
    </script>

{% endblock %}
