{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block header %}
    <div id="password-alert" class="alert alert-success alert-dismissible collapse mx-auto text-center w-75" role="alert">
        Password successfully changed!
        <button type="button" class="close" data-hide="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}

{% block main %}
    <form action="/password" name="password">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" id="old-password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <div class="input-wrapper">
                <input class="form-control" name="new_password" placeholder="New Password" type="password" id="new-password">
                <i id="info-icon1" class="far fa-question-circle text-muted info-icon" data-toggle="tooltip" data-placement="left" title="Your password must be at least 5 characters long, contain an uppercase letter and a number"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="input-wrapper">
                <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
                <i id="info-icon2" class="far fa-question-circle text-muted info-icon" data-toggle="tooltip" data-placement="left" title="Your password must be at least 5 characters long, contain an uppercase letter and a number"></i>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>

    <!-- below jQuery with AJAX code validates the form -->
    <script src="/static/password.js"></script>
{% endblock %}
