{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" name="registration">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" id="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <div class="input-wrapper">
                <input class="form-control" name="password" placeholder="Password" type="password" id="password">
                <i id="info-icon1" class="far fa-question-circle text-muted" data-toggle="tooltip" data-placement="left" title="Your password must be at least 5 characters long, contain an uppercase letter and a number"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="input-wrapper">
                <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
                <i id="info-icon2" class="far fa-question-circle text-muted info-icon" data-toggle="tooltip" data-placement="left" title="Your password must be at least 5 characters long, contain an uppercase letter and a number"></i>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <!-- below jQuery with AJAX code validates the form and checks the username availability in the database -->
    <script src="/static/register.js"></script>
{% endblock %}
